.container{
    width: 500px;
    height: 400px;
    background-color: hsl(255, 63%, 18%, 0.6);
    position: absolute;
    left: 50%;
    bottom: -850px;
    right: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.7);
    
}
.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
